

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'sans-serif'
}

body{
    margin: 0px;
    background-color:rgb(183, 204, 192) 
}

.heading{
    text-align: center;
}

.todo_input-container{
    border-color: rgb(166, 194, 166);
    position:center;
    top: 50%;
    left:50%;
    font-family:  sans-serif;
    font-size:medium;
}

.todo_input{
    border-color: green;
}
.list{
    text-align:
    font-size:

}
.Clear-Item-container{
    padding:50%;
    margin:50%;
    box-sizing: border-box;
    font-family:'sans-sa'
}